<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weathering</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="container">
      <div class="form__group field">
        <form action="/forecast" method="post">
          <input type="input" class="form__field" placeholder="Search for a city..." name="city" id='city' required />
          <label for="name" class="form__label">City name</label>
          <input class="button-89" type="submit" value="Search">
        </form>
      </div>
    </div>

</body>
</html>